.parent {
    display: grid;
    grid-template-rows: auto 1fr;
}

.child {
    display: grid;
}

.header {
    /* HEADER */
    grid-template-columns: 2fr 1fr 70px;
    grid-template-rows: 1fr;
}

.body {
    /* BODY */
    grid-template-rows: auto;
    grid-auto-rows: max-content;
}

.title {
    grid-column: 1;
    grid-row: 1;
}

.sidebar {
    grid-column: 3;
}

.header__child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body__child,
.body__child_firstChild {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.body__child_desc,
.body__child_choose {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.body__child_desc p {
    text-align: center;
}

.body__child_choose div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.body__child_desc,
.body__child_ask {
    grid-column: 1 / 3;
}

.body__child_choose,
.body__child_answer {
    grid-column: 3;
}

.body__child_ask,
.body__child_answer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;

    transition: background-color 1s linear, border 1s linear;
}

.body__child_ask {
    font-size: 3ch;
}

.body__child_answerTrue,
.body__child_answerFalse {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}

.body__child_answerTrue input[type="radio"],
.body__child_answerFalse input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.body__child_answerTrue .checkmark,
.body__child_answerFalse .checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: var(--foreground);
    /** PROBAR AQUI LOS CAMBIOS DE TEMAS PAPU*/
    border-radius: 50%;
    transition: background .3s;
}

/* .body__child_answerTrue input[type="radio"]:checked+.checkmark,
.body__child_answerFalse input[type="radio"]:checked+.checkmark {
    background-color: var(--background);
} */

.body__child_answerTrue .checkmark::after,
.body__child_answerFalse .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.body__child_answerTrue input[type="radio"]:checked+.checkmark::after,
.body__child_answerFalse input[type="radio"]:checked+.checkmark::after {
    display: block;
    left: 6px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--background);
}

.wrongAnswer {
    background-color: var(--bg-wrong);
    outline: 1px solid var(--out-wrong);
}

.wellAnswer {
    background-color: var(--bg-right);
    outline: 1px solid var(--out-right);
}