.arrowbackground {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: var(--foreground);
    mask-image: url("/assets/icons/left-arrow.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    /* background-image: url("/assets/icons/left-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat; */
}