.DBParent {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    gap: 10px;

    /* height: 100vh; */
}

.DBParent__children:last-child {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    /* margin-bottom: 50px; */
}