/*:root {
  --background: #f8f8f9;
  --foreground: #171717;

  --bg-right: #d7efc7;
  --out-right: #3d7e3d;

  --bg-wrong: #f3dede;
  --out-wrong: #a33939;
  ;

  --custom-font: "kidsFont", system-ui;
}*/

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;

    --bg-right: #1f2b20;
    --out-right: #4fd44f;

    --bg-wrong: #2b1f20;
    --out-wrong: #d44f4f;
  }
}*/

body.light {
  --background: #f8f8f9;
  --foreground: #131313;

  --bg-right: #d7efc7;
  --out-right: #3d7e3d;

  --bg-wrong: #f3dede;
  --out-wrong: #a33939;

  background: var(--background);
  color: var(--foreground);
}

body.dark {
  --background: #131313;
  --foreground: #f8f8f9;

  --bg-right: #1f2b20;
  --out-right: #4fd44f;

  --bg-wrong: #2b1f20;
  --out-wrong: #d44f4f;


  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: var(--custom-font);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: light dark;
  }
} */